!!! 5
%html{'ng-app': 'scpr_test'}
  %head
    %title SCPR Code Test
    %script{src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'}
    %script{src: 'javascripts/app.js'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/app.css'}
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'}

  %body{'ng-controller': 'main_controller'}
    .container= yield
